* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #57BA98;
}

a.text-link {
  color: #57BA98;
}

a.text-link:hover {
  text-decoration: underline;
}

header {
  min-height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 100%
}

nav {
  display: flex;
  justify-content: space-between;
}

button:focus {
  outline: none;
}

.st1 {
  display: inline;
  fill: #3ABC98;
}

.st2 {
  opacity: 0.32;
  fill: #727171;
}

/*cauciucuri*/
.st3 {
  fill: #898989;
}

/*jante*/
.st4 {
  fill: #fff;
}

/*sectiune in jante*/
.st5 {
  fill: #C9CACA;
}

/*surf-board*/
.st6 {
  fill: #3B945E;
}

/*parte superioara masina*/
.st7 {
  fill: #F9F8DE;
}

/*parte inferioara masina*/
.st8 {
  fill: #3B945E;
}

/*usa*/
.st9 {
  fill: #3B945E;
  stroke: #65CCB8;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/*margine geam sofer*/
.st10 {
  fill: none;
  stroke: #3B945E;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

/*windows*/
.st11 {
  fill: #182628;
}

/*dunga mijloc*/
.st12 {
  fill: #65CCB8;
}

/*ventilator spate*/
.st13 {
  fill: none;
  stroke: #65CCB8;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

/*capac alimentare*/
.st14 {
  fill: none;
  stroke: #65CCB8;
  stroke-miterlimit: 10;
}

/*scheletul masinii */
.st15 {
  fill: #DEDCC9;
  stroke: #65CCB8;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.st16 {
  fill: #C96031;
  stroke: #65CCB8;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 30px;
}

#car-body {
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: carbody 1s linear infinite;
  -webkit-animation: carbody 1s linear infinite;
  z-index: 2;
}

#wheel .wheel {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#wheel .wheel-back {
  z-index: 1;
}

#smoke {
  width: 3px;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: smoke 1.2s linear infinite;
  -webkit-animation: smoke 1s linear infinite;
}

#shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -2;
}

/***** Animation *****/
@keyframes carbody {
  0% {
    bottom: 0px;
  }

  60% {
    bottom: 1px;
  }

  80% {
    bottom: 2px;
  }
}

@-webkit-keyframes carbody {
  0% {
    bottom: 0px;
  }

  60% {
    bottom: 1px;
  }

  80% {
    bottom: 2px;
  }
}

@keyframes smoke {
  from {
    right: 3px;
  }

  to {
    right: -8px;
    transform: scale(3);
    opacity: .2;
  }
}

@-webkit-keyframes smoke {
  from {
    right: 3px;
  }

  to {
    right: -8px;
    transform: scale(5);
    opacity: .2;
  }
}

.close-nav {
  display: none;
}

.sticky-part {
  transition: 0.5s;
}

.header-sticky .sticky-part {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: box-shadow 0.25s cubic-bezier(0.32, 0.01, 0, 1);
  background-color: #182628;
  transition: 0.5s;
}

.header-sticky .sticky-part .container {
  padding: 0 15px 0 15px;
}

.top-bar {
  text-align: center;
  padding: 10px 0;
  background-color: #f3f7f7;
}

.top-bar a {
  color: #000;
}

.top-bar a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  position: relative;
  width: 250px;
  height: 30px;
  padding-left: 70px;
}

.logo-name {
  font-family: 'Megrim', cursive;
  color: #57BA98;
  font-weight: 900;
}

.logo-name {
  font-size: 23px;
}

.logo img {
  max-width: 60px;
  filter: invert(100%);
}

.site-nav,
.auth-nav,
.dropdown {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  display: flex;
  padding: 0 45px;
}

.site-nav>li>a {
  display: block;
  padding: 20px 10px;
  position: relative;
  color: #fff;
}

.site-nav>li>a::before {
  content: '';
  left: 5px;
  padding: 0 10px;
  width: calc(100% - 10px);
  height: 3px;
  background-color: #57BA98;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: translateY(3px);
  visibility: hidden;
  transition: all 0s;
  will-change: transform, opacity, visibility;
}

.site-nav>li:hover>a::before {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: all 0.23s cubic-bezier(0.32, 0.01, 0, 1);
}

.auth-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.auth-nav .username {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  margin-right: 20px;
  word-wrap: break-word;
}

.auth-button {
  color: #fff;
  padding: 6px 20px;
  display: block;
  background: none;
  border: none;
  white-space: nowrap;
  font-weight: 600;
  transition: 0.3s;
}

.auth-button:hover {
  color: #57BA98;
}

.auth-button.bordered-button {
  border: 2px solid #fff;
  color: #fff;
}

.auth-button.bordered-button:hover {
  border: 2px solid #57BA98;
  color: #57BA98;
}

.dropdown-holder {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #57BA98;
  /* padding: 8px 0; */
  box-shadow: 0 14px 28px 0 rgba(24, 38, 40, .5);
  transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.dropdown-holder:hover .dropdown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: all 0.23s cubic-bezier(0.32, 0.01, 0, 1);
  left: 5px;
}

.dropdown li {
  padding-right: 80px;
  border-bottom: 1px solid #e7eeef;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown li a .title {
  color: #fff;
  font-size: 14px;
}

.dropdown li a:hover .title {
  color: #182628;
}

.dropdown li a .description {
  color: #3B945E;
  font-size: 12px;
}

.row {
  justify-content: space-between;
}

.col {
  flex-grow: unset;
}

.bg-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.bg-container {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-container img {
  width: 100%;
  height: auto;
}

.bg-container-2 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* aici */
/* .active-mood {
  background-image: url(../assets/images/active-mood.jpg);
}

.adventure-mood {
  background-image: url(../assets/images/adventure-mood.jpg);
}

.getaway-mood {
  background-image: url(../assets/images/getaway-mood.jpg);
}

.explore-mood {
  background-image: url(../assets/images/explore-mood.jpg);
}

.relax-mood {
  background-image: url(../assets/images/relax-mood.jpg);
}

.romantic-mood {
  background-image: url(../assets/images/romantic-mood.jpg);
} */
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 568px;
}

.hero-1 {
  background-image: url("../assets/images/hero-bg-1.jpg");
}

.hero-2 {
  background-image: url("../assets/images/hero-bg-2.jpg");
}

.hero-3 {
  background-image: url("../assets/images/hero-bg-3.jpg");
}

.hero-4 {
  background-image: url("../assets/images/wishlist-bg.jpg");
}

.hero-half {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  min-height: 284px;
}

.hero h1,
.hero-half h1 {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 44px;
}

.hero .container,
.hero-half .container {
  padding-top: 80px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  color: #fff;
  position: relative;
  z-index: 1;
}

.hero-1 .row {
  padding: 30px 0;
  width: 100%;
  white-space: nowrap;
}

.hero-1 i {
  font-size: 28px;
}

.primary-btn,
.secondary-btn {
  color: #57BA98;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #57BA98;
  display: inline-flex;
  white-space: nowrap;
  letter-spacing: 1px;
  transition: 0.3s;
  background-color: transparent;
}

.primary-btn.goto {
  font-size: 16px;
  font-weight: 600;
  transition: none;
}

.primary-btn.goto:hover {
  font-weight: 700;
}

.primary-btn.goto span {
  font-weight: 400;
  transition: 0.3s;
}

.primary-btn.goto:hover span {
  font-weight: 900;
}

.primary-btn.goto:hover span:first-child {
  transition: 0.3s;
}

.primary-btn.goto:hover span:last-child {
  transition: 1s;
}

.primary-btn.delete {
  position: absolute;
  right: 0;
  color: red;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.primary-btn.delete i {
  padding-right: 5px;
  padding-bottom: 3px;
}

.primary-btn.delete:hover i {
  transition: 0.3s;
}

.primary-btn.delete:hover i {
  font-size: 18px;
}

.primary-btn.filled {
  box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
  background-color: #57BA98;
  color: #fff;
}

.primary-btn.filled:hover {
  box-shadow: 0 3px 6px rgba(27, 169, 76, 0.4);
  color: #fff;
}

.primary-btn.filled:focus {
  box-shadow: none;
}

.primary-btn.unfilled {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.unfilled:hover,
.secondary-btn.unfilled:hover {
  border: 1px solid #57BA98;
  color: #57BA98;
}

.secondary-btn.unfilled {
  color: #182628;
  border-color: #182628;
  margin-top: 15px;
}

section {
  margin: 50px 0;
}

section .section-title {
  font-size: 30px;
  color: #182628;
  text-align: center;
}

section .section-subtitle {
  text-align: center;
  font-size: 14px;
}

.ribbon {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  padding: 15px 5px;
  color: #fff;
}

.ribbon::before {
  display: inline-block;
  content: ' ';
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
  filter: invert(100%);
}

.ribbon-active::before {
  background-image: url('../assets/images/active.svg');
}

.ribbon-adventure::before {
  background-image: url('../assets/images/adventure.svg');
}

.ribbon-getaway::before {
  background-image: url('../assets/images/getaway.svg');
}

.ribbon-explore::before {
  background-image: url('../assets/images/explore.svg');
}

.ribbon-relax::before {
  background-image: url('../assets/images/relax.svg');
}

.ribbon-romantic::before {
  background-image: url('../assets/images/romantic.svg');
}

.hovereffect {
  width: 100%;
  min-height: 250px;
  ;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 10px;
}

.hovereffect:hover .overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.hovereffect .bg-container {
  transition: all .4s linear;
}

.hovereffect:hover .bg-container {
  transform: scale(1.2);
}

.overlay .title {
  color: #fff;
  top: 40%;
  letter-spacing: 1px;
  position: absolute;
  padding: 15px;
  font-size: 20px;
  max-width: 270px;
  font-weight: 600;
}

.overlay .title.title-full {
  max-width: 100%;
  font-size: 30px;
}

.fa-plane {
  transform: rotate(-45deg);
}

.fa-plug {
  transform: rotate(45deg);
}

.banner {
  min-width: 100%;
  max-width: 100%;
  height: 250px;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #182628;
}

.banner img {
  height: auto;
  min-width: 100%;
  max-width: 100%;
}

.banner-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182628;
  position: absolute;
  border: 0px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 6px 10px;
}

.banner button {
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 2px 8px;
  text-align: center;
  background-color: unset;
  white-space: nowrap;
}

.banner span {
  color: #fff;
  font-size: 10px;
  display: block;
  line-height: 24px;
  white-space: nowrap;
}

.container.with-carousel {
  padding: 0;
}

.carousel-item {
  transition: none;
}

.carousel-control-next {
  /* right: -50px; */
  justify-content: flex-end;
  color: #182628;
  opacity: 0.5;
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus {
  color: #182628;
}

.carousel-control-prev {
  justify-content: flex-start;
  color: #182628;
  opacity: 0.5;
}

.error {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 12px;
  padding-bottom: 10px;
}

.with-auth-form {
  min-height: 100vh;
  width: 100%;
  background-color: #182628;
}

.with-auth-form main .logo {
  max-width: 275px;
  margin: 60px auto 20px;
}

.with-auth-form main .container {
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.with-auth-form .form-holder {
  background-color: #fff;
  width: 480px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
}

.with-auth-form .form-nav {
  display: flex;
  overflow: hidden;
}

.with-auth-form .form-nav-item {
  flex: 1;
  line-height: 60px;
  text-align: center;
  padding: 0;
  color: #738f93;
  background: #f9fbfb;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.with-auth-form .form-nav-item.active {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
  color: #182628;
  background: #fff;
  position: relative;
  z-index: 1;
}

.with-auth-form .form-content {
  position: relative;
  background-color: #fff;
  z-index: 1;
  padding: 30px;
  text-align: right;
}

.with-auth-form .form-content .input-block {
  margin-bottom: 10px;
  height: 56px;
  position: relative;
}

.with-auth-form .form-content .input-block span[uk-icon] {
  position: absolute;
  left: 15px;
  top: 50%;
  color: #738f93;
  font-size: 22px;
  transform: translateY(-50%);
}

.with-auth-form .form-content .custom-input {
  padding: 1px 15px 1px 52px;
  outline: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1), 0 0 0 transparent;
  background-color: #f3f7f7;
  border: 0;
}

.with-auth-form .form-content .primary-btn {
  margin: 0 auto;
}

.with-auth-form .signup-agreement {
  font-size: 13px;
  color: #738f93;
  margin-top: 20px;
}

.with-auth-form .form-content .with-checkbox label {
  font-size: 80%;
}

.with-auth-form footer {
  margin-top: 70px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  white-space: normal;
  color: white;
}

.modal-content {
  background-color: #182628
}

.modal .close {
  color: white;
}

.modal p {
  font-size: 13px;
}

.modal ul {
  padding-left: 15px;
}

.modal li {
  list-style: circle;
}

.btn-link {
  color: white;
  padding: 0;
  font-size: 14px;
}

.btn-link:hover {
  color: #57BA98;
}

.moods .row {
  margin-bottom: 50px;
}

.moods .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.moods .description p {
  font-size: 14px;
}

.moods .bg-container {
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.5);
}

.moods img,
.idea img {
  max-width: 60px;
  margin: 10px;
}

.plans-list,
.comment-list,
.idea ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
}

.plans-list ul {
  list-style: circle;
}

.step {
  margin-top: 30px;
}

.step .step-header {
  padding: 15px 0;
}

.step .step-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #182628;
  margin: 0;
  position: relative;
}

.step .step-title span {
  padding-right: 15px;
  background-color: white;
}

.step .step-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  border-top: 3px solid #57BA98;
  z-index: -1;
}

.item-img {
  width: 300px;
  height: auto;
}

.item-img img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

ul.wish-list {
  padding: 0;
}

.wish-list li {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
}

.wish-list li:nth-child(even) {
  background-color: #f2f2f2;
}

.wish-list li .item-info {
  padding: 15px;
  width: 100%;
  position: relative;
}

.wish-list li .item-info img {
  max-width: 30px;
}

.wish-list li .item-title {
  font-size: 18px;
  letter-spacing: 2px;
}

.wish-list button {
  border: none;
}

.comments .panel-body {
    max-height:650px;
    overflow:auto;
    text-align: right;
}

.comments .panel-body button {
  margin-right: 0;
  margin-left: auto;
}

.comments .panel-header {
  letter-spacing: 2px;
    text-transform: uppercase;
    color: #182628;
    margin: 0;
    position: relative;
    padding-bottom:15px;
}

.comments .comment-list .comment img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comments .comment-list {
  text-align: left;
}

.comments .comment-list .comment {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
    display: flex;
    align-items: center
}

.comments .comment-body {
  position: relative;
  width: 100%;
}

.comments .comment-time {
  position: absolute;
  right:0;
}



footer {
  margin-top: 50px;
  padding: 50px 15px 0 15px;
  background-color: #182628;
  border-top: 2px solid #57BA98;
  color: #fff;
  white-space: nowrap;
}

footer ul {
  padding: 15px 0;
}

footer li {
  color: #fff;
  font-size: 14px;
  list-style: none;
  padding: 6px 0px;
}

footer .heading-text {
  white-space: nowrap;
}

footer .heading-text:hover {
  color: #ccc;
}

footer .logo-name {
  font-size: 16px;
}

footer a {
  color: #fff;
}

footer li a:hover {
  color: #57BA98;
}

footer .row:last-child {
  flex-wrap: nowrap;
  border-top: 1px solid #57BA98;
}

footer .motto {
  color: #57BA98;
}

footer i {
  font-size: 16px;
}

footer .social-link:hover i {
  transform: translateY(-2px);
}

footer .copyright {
  font-size: 12px;
  text-align: right;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .moods .row-invert .overlay {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
}

@media (max-width: 992px) {
  h1 {
    transform: scale(.8);
  }

  h2 {
    margin-left: 15px;
  }

  nav {
    padding: 26px 30px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(300px);
    transition: transform 0.23s cubic-bezier(0.32, 0.01, 0, 1);
    background-color: #57BA98;
    box-shadow: 6px 0px 6px 5px #000;
    z-index: 100;
    min-height: 100vh;
    max-width: 300px;
    display: block;
    overflow: hidden;
    overflow-y: scroll;
  }

  nav.slide-out {
    transform: translateX(0);
    position: fixed;
  }

  nav .close-nav {
    display: block;
    height: 20px;
    position: relative;
  }

  nav .close-nav .line {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
    position: absolute;
    right: -4px;
    bottom: 18px;
  }

  nav .close-nav .line:first-child {
    transform: rotate(45deg);
  }

  nav .close-nav .line:last-child {
    transform: rotate(-45deg);
  }

  .burger-nav {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .burger-nav span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }

  .sticky-part .container,
  .header-sticky .sticky-part .container {
    margin: 0;
    padding: 13px 30px;
    min-width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }

  .site-nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 170px;
    width: calc(100% - 60px);
    padding: 0;
    padding-bottom: 20px;
  }

  .site-nav>li {
    width: 100%;
  }

  .site-nav>li {
    border-bottom: 1px solid #f3f7f7;
  }

  .site-nav>li>a {
    display: inline-block;
    padding: 15px;
  }

  .site-nav .dropdown {
    position: relative;
    box-shadow: none;
    display: none;
    padding: 0 0 0 20px;
  }

  .site-nav .dropdown li a {
    padding: 10px;
  }

  .site-nav .dropdown-holder.dropdown-active .dropdown {
    display: block;
  }

  .site-nav .dropdown-holder>a {
    position: relative;
  }

  .site-nav .dropdown-holder>a .angle {
    position: absolute;
    display: block;
    left: 100%;
    top: 50%;
    width: 7px;
    height: 7px;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    transform: translateY(-4px) rotate(-135deg);
  }

  .site-nav .dropdown-holder.dropdown-active>a .angle {
    transform: rotate(45deg);
  }

  .site-nav .dropdown li a .title,
  .site-nav .dropdown li a .description {
    font-size: 14px;
  }

  .auth-nav {
    margin: 24px auto;
    display: flex;
    flex-direction: column;
  }

  .auth-nav .username {
    margin: 0 0 20px 0;
  }

  .banner-footer {
    flex-direction: column;
  }

  .moods .secondary-btn {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hero-1 .row {
    display: none;
  }

  .overlay .title,
  .overlay .title.title-full {
    font-size: 20px;
    bottom: 20px;
  }

  .col {
    flex-basis: auto;
  }

  .with-carousel {
    padding: 16px 0;
  }

  .with-auth-form .logo {
    max-width: 220px;
  }

  .with-auth-form .form-holder {
    max-width: 100%;
  }

  .with-auth-form .form-nav-item {
    line-height: 50px;
    font-size: 15px;
  }

  .with-auth-form .form-content .input-block {
    height: 40px;
  }

  .with-auth-form .form-content .custom-input {
    font-size: 15px;
  }

  .with-auth-form .form-content .with-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }

  .with-auth-form .form-content .with-checkbox label {
    margin: 0 5px;
  }

  .moods .row-invert {
    flex-direction: column-reverse;
  }

  .moods .description {
    padding-top: 25px;
  }

  .wish-list .item-info img {
    width: 25px;
  }

  .wish-list li .item-title {
    letter-spacing: 0;
    font-size: 14px;
  }

  .wish-list li .item-info {
    padding: 0;
  }

  .primary-btn.delete span {
    display: none;
  }

  .primary-btn.goto {
    font-size: 14px;
    font-weight: 400;
  }

  .primary-btn.goto span {
    color: #57BA98;
  }
}

@media (max-width: 425px) {

  .overlay .title,
  .overlay .title.title-full {
    font-size: 14px;
    bottom: 20px;
  }

  footer .motto {
    font-size: 12px;
  }

  footer .copyright {
    font-size: 12px;
    font-weight: 300;
  }
}
